
.container {
    margin: 0 1.3em;
}
.four_col.last {
    width: 33.3%;
    margin-right: -6px;
}
.four_col .portlet {
    margin-top: 0;
}
body .grid .goto, .ui-ncbilinksmenu {font-family:arial,helvetica,clean,sans-serif;}
body .grid .goto, body .ui-ncbilinksmenu {font-size:.86666em !important}
.ui-ncbipopper-basic{font-size:1.3em}
.verse-group{font-style:italic;margin-left:1.3846em}
.space{margin-top:4.1538em}
body .page-box,body .page-box-wide{background-color:#fff;border:0;margin:0;border-radius:0}
body .page-box-wide{padding:2em 1.6em}
body .page-box{max-width:none;padding:0 1em 1em 3em}
body div.stdnoportlets{padding:0}
.pmc-page-breadcrumbs{margin:1em 1em 1em 3em}
body .navlink-box{margin:0}
.journals .page-box-wide{padding:0}
.retraction{font-size:1.0769em}
.pmc-warning-box{border:1px solid #e88;padding:.6923em}
.boxed-text-box,.links-box{border:1px solid #ddd;background-color:#f6f6f6;padding:0 0.6923em}
.boxed-text-box h2,.boxed-text-box h3,.boxed-text-box h4,.boxed-text-box h5,.boxed-text-box h6{margin:0.6923em 0}
.boxed-text-box h3.inline,
.boxed-text-box h4.inline,
.boxed-text-box h5.inline,
.boxed-text-box h6.inline{
  margin-top: 0;
  margin-bottom: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; 
    padding: 0; 
}
button,
input,
select,
textarea {
    font-family: inherit; 
    font-size: 100%; 
    margin: 0; 
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
}
input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto; 
    vertical-align: top; 
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 div#besetsel-form h3 {
  color: white;
}
div.besetsel-body {
  margin-left: 1em;
}
div#besetsel-form div {
  margin-bottom: .5em;
}
div#besetsel-form a {
  color:white;
}
div#besetsel-form a:hover {
  background-color: #666;
}
.sidecontentpullout {
	background-color: #c00;
	color: white;
	padding: 4px 3px;
	-moz-border-radius-bottomleft: 1em;
	-moz-border-radius-topleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-webkit-border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
	font-size: 1.2em;
	opacity: 1 !important;
}
.sidecontentpullout:hover {
	background-color: #444444;
	color: white;
	opacity: 1 !important;
}
.sidecontent {
    font-size: 1.2em;
	background-color: black;
	color: white;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	border-bottom-left-radius: 1em;
	zoom: 1;
	z-index: 10000 !important;
}
.sidecontent > div > div {
	padding-left: 10px;
	padding-right: 40px;
}
.sidecontent h2 { color: white; }
.sidecontent a { color: white; display: block; margin: 0; padding: 2px 5px;}
.sidecontent a:hover { background-color: #666;}
.sidecontent, .sidecontentpullout { position: fixed !important; }
.sctable td { border: none; padding-right: 5px;}
body{font:62.5%/1.3846 arial,helvetica,clean,sans-serif;background-color:#ccc;margin:0}
.grid{font-size: 1.3em}
img{border:0}
abbr,acronym{cursor:help;border-bottom:1px dotted #000;}
blockquote{margin:1.3846em 1em;}
p,table,pre,fieldset,dl{margin: 0.6923em 0;}
ol,ul{margin: 0.6923em 1em 0.6923em inherit}
dl dd{margin-left:1em;}
table{border-collapse:collapse;margin:1.3846em 0;}
thead{border-bottom:1px solid #eee;}
tfoot{border-top:1px solid #eee;}
th{text-align:center;background-color:#f0f0f0;}
th,td{padding:0.2em;border:1px solid #ddd;}
caption{margin-bottom:.5em;text-align:center;}
fieldset {border: 0;}
button{cursor:pointer;}
input,button,textarea{margin:2px;}
input[type="checkbox"] {margin: 3px 3px 3px 4px;}
textarea {font-family: monospace; font-size: 1.2296em; *font-size:1em; vertical-align:baseline;}
h1,.h1{font-size: 1.3846em; line-height:1.5; margin:1em 0 .5em; } 
h2,.h2{font-size: 1.2307em; line-height:1.125; margin:1.125em 0 .5625em;} 
h3,.h3{font-size: 1.0769em; line-height:1.2857; margin:1.2856em 0 .6428em; } 
h4,h5,h6,h3.inline{font-size: 1em; margin:1.3846em 0 .6923em; } 
h5,.h5{font-style:italic;font-weight:normal;}
h6, .h6 {font-weight: normal;}
h4,.h4{color:#59331f;}
h3,.h3{color:#724128;}
h2,.h2{color:#985735;}
h1,.h1{color:#000;}
h3.inline,h4.inline,h5.inline,h6.inline{display:inline;float:left;margin:0 0 -0.125em;padding-right:.3em}
.whole_rhythm {margin: 1.3846em 0} 
.half_rhythm {margin: .6923em 0} 
.no_top_margin{margin-top:0}
.no_bottom_margin{margin-bottom:0}
.no_margin{margin:0}
.content a{color:#2f4a8b}
.content a:hover,.content a:active{color:#985735}
.content a:visited{color:#642a8f}
.inline_list,.inline_list_right{list-style-type:none;margin:0;padding:0}
.inline_list li{display:inline;margin-right:.3em}     
.inline_list_right li{display:inline;margin-left:.4em;}
.column_list{list-style-type:none;margin:0;padding:0}
.column_list li{float:left;width:8em}
.offscreen{text-indent:-9999px}
.offscreen_noflow{float:left;text-indent:-9999em;_display:block;margin:0;padding:0;height:0;}
.left{float:left}
.right{float:right}
.align_right{text-align:right}
.hidden{display:none}
.nowrap{white-space:nowrap}
.noborder{border:0}
body .no_max_width{max-width:none;overflow:auto}
.inline_block{display:-moz-inline-box;display:inline-block;*display:inline;zoom:1;}
.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{zoom:1}
.small,sup,sub{font-size:.8461em; line-height: 1.6363em;} 
.small sup,.small sub{font-size:1em}
sup,sub{position:relative;vertical-align:baseline;}
sup{top:-.5em}
sub{top:.25em}
.shadow {-webkit-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);-moz-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3)}
.iconblock{overflow:hidden}
.icnblk_img{text-decoration:none;float:left;margin-right:1em;cursor:pointer}
.icnblk_img_right { float: right; margin-right: 0; margin-left: 1em;}
.icnblk_cntnt{display:table-cell;vertical-align:top;*zoom:1}
.icnblk_cntnt h1,.icnblk_cntnt h2,.icnblk_cntnt h3,.icnblk_cntnt h4{margin:0 0 .6923em}
.grid{ min-width:800px; max-width:1200px; width:100%; clear:both; margin:0 auto; text-align:left;overflow:hidden }
.col { margin-right: 1%; float: left; background-color: #fff; overflow:hidden; }
.last { *zoom:1; *margin-right:0; _margin-right:-6px;  }
.col.last {float:right;}
.one_col { width: 7.3333%; }
.two_col { width: 15.6664%; }
.three_col { width: 23.9999%; }
.four_col { width: 32.3333%; }
.five_col { width: 40.6666%; }
.six_col { width: 48.9999% }
.seven_col { width: 57.3333%; }
.eight_col { width: 65.6666%; }
.nine_col { width: 73.9999%; }
.ten_col { width: 82.3333%; }
.eleven_col { width: 90.6666%; }
.twelve_col { width: 98.9999%; }
@media screen and (max-width: 1200px) {
	body > .grid > .twelve_col { width: 100%; }
}
h1.res_name a.imglogo {
    background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/251741) no-repeat scroll 0% 0%;
    display: block;
    height: 45px;
    text-indent: -9999px;
    width: 165px;
}
.dbheader .headerimage { background-image: url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/3818869); }
.container { margin: 0 1.6em;}
body.object-only {
  background-color: white;
}
 
.pmc-grid {
  width: 1200px;
}
body.article.scanned-article-browse .pmc-grid {
  width: 1200px;
}
body.article.scanned-article-browse .eight_col { 
    width: 70.8333%; 
}
body.article.scanned-article-browse .four_col { 
    width: 27.1667%; 
}
.pmc-page-banner {
  width: 100%;
  text-align: center;
}
div.messagearea { 
  margin: 1em 1em 1em 3em; 
  padding: 0; 
  border: solid 1px #DDDDDD; 
  background: #F6F6F6; 
  clear: both; 
}
#messagearea.empty { 
  border: none; 
  clear: both; 
}
ul.messages { 
  font-family: Arial; 
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none; 
}
ul.messages li { 
  margin: 0.22em 0 0.22em; 
  padding: 0.231em 0.462em; 
  background-repeat: no-repeat;
}
div.nomargin {
  margin-right: 0;
}
body.table .grid {
  overflow: inherit;
}
body.table .grid .col {
  overflow: auto;
}
body.table div.hide-overflow.article.lit-style.page-box-wide {
  overflow: auto;
}
.default_table th, .default_table td {
  vertical-align: top;
  padding-right: 5px;
  padding-left: 5px;
}
.body-link-popper .invert {
    background-color: #14376C;
    color: #FFFFFF;
    padding: 0 0.2em;
}
#maincontent .links-box {
    border: 1px solid #eac3af;
    background-color: #fff4ce;
    padding: 0.3923em 0.6923em;
    border-radius: 5px;
}
.pmc_logo {
	background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/3005255) no-repeat scroll left top;
	display: block;
	height: 33px;
	width: 110px;
	text-indent: -9999px;
	margin-left: 1em;
}
.NLMLogo {
  line-height: 1.2em;
  font-size: 0.692em;
}
.NLMLogo a {
  color: #555;
}
noscript p.nojs {
	background: #ffb url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/67327) no-repeat 5px center;
	padding: 4px;
	padding-left: 28px;
	margin:0;	
}
.grid .lit-style{font: 1.2307em/1.375 'Times New Roman', serif}
.grid .lit-style h1,.grid .lit-style h2,.grid .lit-style h3,.grid .lit-style h4,.grid .lit-style h5,.grid .lit-style h6{font-family:arial,helvetica,clean,sans-serif}
.grid .lit-style h1{font-size:1.25em; line-height:1.35em}    
.grid .lit-style h2{font-size:1.125em; line-height:1.1111em} 
.grid .lit-style h3{font-size:1em; line-height:1.25em}       
.grid .lit-style h4,.grid .lit-style h5,.grid .lit-style h6{font-size:.9em !important; line-height:1.3888em} 
.grid .lit-style h3.inline{line-height:1.2375em}
.grid .lit-style h4.inline,.grid .lit-style h5.inline,.grid .lit-style h6.inline{line-height:1.5865em}
.grid .lit-style .fm-sec{font:.8125em/1.3846 arial,helvetica,clean,sans-serif}
.grid .lit-style .fm-sec h1{font-size:1.5384em} 
.grid .lit-style .fm-sec h2{font-size:1.3846em} 
.grid .lit-style .fm-sec h3{font-size:1.2307em} 
.grid .lit-style .fm-sec h4{font-size:1.1076em} 
.grid .lit-style code,.grid .lit-style kbd,.grid .lit-style pre,.grid .lit-style samp{font-size:.8125em}
.uppercase{text-transform: uppercase;letter-spacing:.06em;}
.caps{text-transform:capitalize;}
.small-caps{text-transform: lowercase; font-variant:small-caps;letter-spacing:.02em;}
.overline{text-decoration:overline;}
.roman{font-style:normal}
.greek{font-family:Georgia, Times,"Times New Roman", serif}
.lower-alpha{list-style-type:lower-alpha}
.upper-alpha{list-style-type:upper-alpha}
.lower-roman{list-style-type:lower-roman}
.upper-roman{list-style-type:upper-roman}
.circle{list-style-type:circle}
.square{list-style-type:square}
.simple-list{list-style-type:none}
.first-line-outdent{list-style-type:none}
.first-line-outdent li:first-letter{margin-left:-1.5em}
.large-number-list{margin-left:2.75em;*margin-left:3em}
.labeled-list{}
.labeled-list dt,.labeled-list dd{display:inline;margin:0}
.labeled-list dd{margin-left:1.5em}
.labeled-list dd:after{content:'\A';white-space:pre}
.temp-labeled-list{}
.temp-labeled-list dt{float:left;margin-right:.8em}
.temp-labeled-list dd{vertical-align:top;display:table-cell;*display:inline-block}
.label{margin-right:1em;}
.figure{margin: 1.3846em 0}
.eight_col img.fullwidth { width: 100% !important; }
.subtitle{font-weight:bold;margin-top:-.5em}
.def{cursor:help}
.box.warn {border:1px solid #000;margin:42px 0 45px 0;padding:0 0 35px 0;}
.box.warn h3 {background-color:#f7d118;border-bottom:1px solid #000;height:21px;margin: 0 0 35px;padding-top:2px;text-align:center;}
.box.warn p {padding: 0 35px 0 35px;}	
.box.warn * {color: #000;}
.default_table tfoot{border:none}
.default_table thead{border:none}
.default_table th{background-color:inherit}
.default_table th,.default_table td{border:none}
table[frame='void']{border:0}
table[frame='above']{border-top:1px solid #000}
table[frame='below']{border-bottom:1px solid #000}
table[frame='hsides']{border-top:1px solid #000;border-bottom:1px solid #000}
table[frame='vsides']{border-left:1px solid #000;border-right:1px solid #000}
table[frame='lhs']{border-left:1px solid #000}
table[frame='rhs']{border-right:1px solid #000}
table[frame='box'],table[frame='border']{border:1px solid #000}
table[rules='none'] td{border:0}
table[rules='rows'] tr{border-top:1px solid #888;border-bottom:1px solid #888}
table[rules='cols'] td,table[rules='cols'] th{border-left:1px solid #888;border-right:1px solid #888}
table[rules='groups'] thead+tbody,table[rules='groups'] tfoot+tbody,table[rules='groups'] tbody+tbody{border-bottom:1px solid #888}
table[rules='groups'] tbody+tfoot,table[rules='groups'] thead+tfoot,table[rules='groups'] thead+tbody{border-top:1px solid #888}
table[rules='groups'] col,table[rules='groups'] colgroup{border:0}
table[rules='groups'] col+col,table[rules='groups'] colgroup+colgroup{border-left:1px solid #888}
table[rules='all'] td,table[rules='all'] th{border:1px solid #888}
table[rules='cols'] td:first-child,table[rules='cols'] th:first-child,table[rules='all'] td:first-child,table[rules='all'] th:first-child{border-left:0}
table[rules='cols'] td:last-child,table[rules='cols'] th:last-child,table[rules='all'] td:last-child,table[rules='all'] th:last-child{border-right:0}
table[rules='rows'] tr:first-of-type,table[rules='all'] tr:first-of-type{border-top:0}
table[rules='rows'] tr:last-of-type,table[rules='all'] tr:last-of-type{border-bottom:0}
table[rules='rows'] thead+tfoot,table[rules='rows'] thead+tbody,table[rules='rows'] tbody+tbody,table[rules='rows'] tbody+tfoot{border-top:1px solid #888}
table[rules='all'] tr:first-of-type td,table[rules='all'] tr:first-of-type th{border-top:0}
table[rules='all'] tr:last-of-type td,table[rules='all'] tr:last-of-type th{border-bottom:0}
table[rules='all'] thead+tfoot,table[rules='all'] thead+tbody,table[rules='all'] tbody+tbody,table[rules='all'] tbody+tfoot{border-top:1px solid #888}
th[align='left'], td[align='left'] {text-align:left;}
th[align='right'], td[align='right'] {text-align:right;}
th[align='justify'], td[align='justify'] {text-align:justify;}
th[valign='top'],td[valign='top'] {vertical-align:top;}
th[valign='middle'],td[valign='middle'] {vertical-align:middle;}
th[valign='bottom'],td[valign='bottom'] {vertical-align:bottom;}
.tgt_light{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% -1%;padding-right:17px;margin-right: 3px}
.tgt_light:active{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 12%}
.tgt_dark{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 43.5%;padding-right:17px;margin-right:3px}
.tgt_dark:active{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 25%}
.tgt_light_up{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 56%;padding-right:17px;margin-right:3px}
.tgt_light_up:active{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 69%}
.tgt_dark_up{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 100%;padding-right:17px;margin-right:3px}
.tgt_dark_up:active{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 83%}
.tabPopper{top:0;left:0;display:none;background-color:#fff;padding:.2em;margin-top:3px;*padding-bottom:1em;box-shadow:.4em .4em .5em #999;-webkit-box-shadow:.4em .4em .5em #999;-moz-box-shadow:.4em .4em .5em #999;border:1px solid #ccc;border-bottom:1px solid #666\0;border-right:1px solid #666\0;}
.tabPopperCover{position:absolute;top:0px;left:0px;height:1px;background-color:#FFA600;overflow:hidden}
.tabPopper fieldset{border:0;padding:0;margin:4px 10px}
.tabPopper fieldset ul,.tabPopper fieldset dl{border-top:1px solid #ddd;padding-top:3px}
.tabPopper fieldset dl{margin:0 0 6px 0}
.tabPopper fieldset input{position:relative;top:1px}
div.messagearea {
    margin:0;
    padding: 0;
    clear:both;
}
div.browsername {
    background-color: #FFF;
    padding-left: 0.5em;
    }
#messagearea.empty {
    border: none;
    clear: both;
}
div#messagearea ul.messages li.hi_warn { margin: 2.5em 0; }
ul.messages {
    font-family: arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
ul.messages li {
    margin: 0.22em 0 0.22em;
    padding: 0.25em;
    background: transparent no-repeat 0.5em 0.3em;
    position: relative;
}
ul.messages li .icon, ul.messages li.icon{ 
    background: url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/3797312) no-repeat; 
    display: block; 
    margin-right: 4px;
    padding-left: 16px;
}
ul.messages li span.icon {
    background: #fff;
    padding-left: .5em;
    padding-top: .35em;
    margin-top: -.5em;
}
ul.messages li.success .icon, ul.messages li.success.icon {
    background-position: 0 0;
}
ul.messages li.warn .icon, ul.messages li.hi_warn .icon, ul.messages li.warn.icon, ul.messages li.hi_warn.icon {
    background-position: -17px 0;
}
ul.messages li.suggest .icon, ul.messages li.suggest.icon {
    background-position: -34px 0;
}
ul.messages li.info .icon, ul.messages li.info.icon {
    background-position: -51px 0;
}
ul.messages li.error .icon, ul.messages li.error.icon {
    background-position: -68px 0;
}
ul.messages li.hi_warn em.detail{
    font-weight: normal;
    font-style: normal;
    padding-left: 1.7em;
}
ul.messages li.hi_warn {
    font-weight: bold;
}
.success, .error, .warn, .info, .suggest, .hi_warn {
    background-image: url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/3797312);
    padding-left: 17px;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom:.5em
}
.success {
    background-position: 0 0;
}
.warn {
    background-position: -17px 0;
}
.hi_warn {
    background-position: -17px 0;
    font-weight: bold;
}
.suggest {
    background-position: -34px 0;
}
.info {
    background-position: -51px 0;
}
.error {
    background-position: -68px 0;
}
.navwrap-bottom {
  margin-top: 2em;
  margin-bottom: 10px;
  
}
.navwrap-top {
  
  margin-bottom: .5em;
}
.navigation-toc {
  max-width: 600px;
  max-height: 500px;
  overflow: auto;
}
.source-contents-label {
  font-size: 1em;
  background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/27532) no-repeat 100% 100%; 
  padding-right: 17px; 
}
.source-contents-label:active {
  background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/27532) no-repeat 100% 58%; 
  padding-right: 17px; 
}
div.navigation-wrap
{
    overflow: hidden;
}
div.content div.navigation-wrap a.navtrig {
  color:  #336699;
  text-decoration: none;
  border-bottom: none;
  margin: 2px 1.7em 2px 2px;
}
.print-link {
  float: right;
  margin-right: 1.7em;
}
.navigation-toc {
  background-color: white;
  -moz-box-shadow: 0.4em 0.4em 0.5em #999999;
  padding: 0 2em 0 0;
}
.navigation-toc ul.toc-toggle {
  padding-left: 3em;
}
.navigation-toc ul.toc-no-toggle {
  padding-left: 2em;
}
.navigation-toc ul.toc ul.toc {
  padding-left: 3em;
  margin-top: 3px;
}
.navigation-toc li {
  padding: 2px 0;
}
.navigation-toc a.toc-link {
  color: #336699;
  text-decoration: none;
  padding: 1px;
  border: 1px solid white;
}
.navigation-toc a.toc-link:hover {
  background-color: #369; 
  color: #fff; 
   
}
.navigation-toc a.current-toc-entry {
  color: #336699;
  font-weight: bold;
  padding: 2px;
  
  
  border: 1px solid white;
}
.toc-page-link {
  float: right;
  margin-top: 9px;
  font-size: 110%;
  
  
}
.twelve_col .pagination
{
    margin-top: 3px;
    margin-bottom: 2px;
}
.pagination{font-size:0.846em;white-space:nowrap;float:right}
.pagination h3{font-weight:normal;font-size:inherit;display:inline;color:#000}
.pagination .page_link{padding:1px 6px;zoom:1}
.pagination h3{display:inline}
.pagination .inactive{color:#ccc}
.pagination .active{border:1px solid #ddd;color:#369;padding:2px 6px;*padding:0px 4px;white-space:nowrap;text-decoration:none}
.pagination a:hover{background-color:#369;color:#fff;border:1px solid #888}
.pagination .prev{margin-right:.6em;margin-left:.2em}
.pagination .next{margin-left:.6em;margin-right:.2em}
.pagination .num{width:1.637em;display:inline;font-size:inherit}
.bottom .pagination{float:none;text-align:right}
body.objectonly,
body.literature-content-only
{
    background-color: white;
}
body .no_max_width {
    max-width: none;
}
body.literature-content-only>.grid>.shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-left: 1.5em;
}
#source-thumb {
    text-align: center;
    margin-bottom: 1em;
}
#source-thumb a { 
    border:0 
}
#source-thumb img { 
    -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
#footer {
    margin-bottom:3em;
}
.navigation-toc-link
{
    float: left;
}
.box {
    background-color: #fbfbfb;
    padding: 1em;
}
.contrib .affiliation {
    line-height: 1.2727em
} 
.NLMLogo, .NLMLogo a {
  color: #6F6F6F;
}
.NLMLogo {
  line-height:1.4em;
}
.res_logo .NLMLogo a:hover {
  text-decoration: underline;
}
pre {
  overflow-x: auto;
}
div.box.warn {padding-bottom: 0;}
div.collapse {max-height:120px; overflow:hidden;}
div.box.warn.collapsible {margin-bottom:0; padding-bottom:10px;}
div.box.warn h3 {margin-bottom:0; float:none;}
#collapse-button {float:right; padding:5px; background-color:#FBFBFB; border:1px solid #000; border-top:none;}
div.clear {clear:both; border:none;}
.universal_header{font-family:arial, helvetica, sans-serif;font-size:13px;height:2em;background-color:#369}
ul.resources_list{margin-left:1.3em;float:left}
ul.resources_list>li.ui-ncbimenu-item-first { margin-right: 0.5em; }
.myncbi a{color:#fff}
#ncbihome{padding:.25em 0 0;padding-right:.8em;margin:0;color:#fff}
#ncbihome:focus{background:transparent; outline: 1px dotted #fff;}
.myncbi{float:right;position:relative;top:.4em;color:#fff;right:1em;*top: .3em}
.myncbi a{margin-left:1em}
#mnu{margin-left:0}
ul.jig-ncbimenu a.topanchor{color:#fff}
ul.jig-ncbimenu a:hover{text-decoration:none}
.ui-ncbimenu-item{background-color:#fcfcfc;border-bottom:1px dotted #e5e5e5}
.ui-ncbimenu li.ui-ncbimenu-item-first a.ui-ncbimenu-first-link-has-submenu{padding:.45em 20px .2em 0;*padding-top: .5em}
body ul.ui-ncbimenu-submenu{ border: 1px solid #ddd; border-bottom: 1px solid #aaa; border-right: 1px solid #aaa;
-webkit-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);-moz-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3)}
body .ui-ncbimenu-item-first-active,body ul li a.ui-ncbimenu-item-active{background-color:#4C96DF;color:#fff}
.footer{clear:both;margin-top:1em}
#footer, #NCBIFooter_dynamic{font-family:arial, helvetica, sans-serif;font-size:11px;line-height:1.8em}
#NCBIFooter_dynamic{position:relative;top:1.4em;*top:.4em;z-index:10;font-size:11px;color:#505050;clear:both}
.breadcrumbs{position:absolute;left:1.6em;top:1.1em}
.help_desk{position:absolute;top:1.1em;right:1em}
#NCBIFooter_dynamic a,#footer a{text-decoration:none;color:#14376c}
#NCBIFooter_dynamic a:hover,#footer a:hover,.contact_info a:hover{text-decoration:underline}
#footer-contents-right{float:right;text-align:right}
#footer-contents-right a{float:left;height:41px;overflow:hidden;padding-top:14px;text-indent:10em}
#footer-contents-right div{display:inline}
#nlm_thumb_logo a{background:transparent url(/coreweb/images/ncbi/footer/footer_imgs.png) no-repeat scroll 0 100%;width:34px;margin-right:14px}
#nih_thumb_logo a{background:transparent url(/coreweb/images/ncbi/footer/footer_imgs.png) no-repeat scroll -35px 100%;width:40px;margin-right:14px}
#hhs_thumb_logo a{background:transparent url(/coreweb/images/ncbi/footer/footer_imgs.png) no-repeat scroll -75px 100%;width:39px;margin-right:14px}
#usagov_thumb_logo a{background:transparent url(/coreweb/images/ncbi/footer/footer_imgs.png) no-repeat scroll -114px 100%;width:89px}
#footer-contents-left p.address{margin:0px;line-height:18px}
#footer-contents-left a{font-weight:bold}
#footer-contents-left span.url a{font-weight:normal}
#footer-contents-left p.address .adr{display:block}
#footer{background:#e5e5e5 url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/3418709) repeat-x scroll left top;clear:both;zoom:1;z-index:1}
#footer,.contact_info{color:#14376c;background-color:#fff;overflow:visible;text-align:center;}
.foot_list{margin:0;padding:0;width:20%;float:left;text-align:left;margin-top:4.5em;width:19\0%;*width:19%}
.foot_list li{list-style-type:none;}
.foot_list li h3{text-transform:uppercase;margin:0;margin-bottom:.05em;}
.offscreen_noflow{float:left;text-indent:-9999em;_display:block;margin:0;padding:0;height:0;}
.contact_info{clear:both;text-align:left;margin:1em 1.6em}
.subfooter{margin-left:1.6em;overflow:hidden}
#footer #external-disclaimer { padding: 0.682em; line-height: 1em; } 
#footer #external-disclaimer a { text-decoration: underline }
.header{background:#d5d5d5 url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2375536) repeat-x scroll left bottom; position: relative;margin-bottom: 1.231em;z-index:20 }
.header a{text-decoration:none}
.header a:hover{text-decoration:underline}
.search{margin:0 0 0 13.539em; padding:1.2em 0 .7em}
.search_form{*zoom:1}
.search_form select,.search_form .ui-ncbiclearbutton-wrap,.search_form button{margin-right:.2em;font-family:arial,helvetica,sans-serif;}
.search_form select{font-size: 1.077em; width:8.5em;margin-right:.3em;*vertical-align: middle; position: relative; bottom: 1px;}
.search_form select optgroup {font-style: normal; color: #555; padding-left: 0.2em;} 
.search_form select optgroup option {color: #000}
.search_form input{font-size: 1.1543em; width:48%;display:inline-block;_width:100%}
.search_form div.nowrap {*height: 100%; }
.search_form button.nowrap {*vertical-align: middle; }
.search_form div.nowrap div.nowrap {*height: 100%; *vertical-align: middle; }
.search_form .nowrap{display:inline;*zoom:1}
.searchlinks{margin:.2em 0 0 9.6em;_zoom:1}
.searchlinks li{margin-right:1.2em;zoom:1}
.searchlinks .help{position:absolute;right:1em;margin-right:0;_margin-top:-.1em}
.searchlinks .hidden{display:none}
.searchlinks .visible{display:inline}
.search_form .wrap{position:relative;display:inline;_width:70%}
#cl{position:absolute;right:8px;top:-3px;top:-12px\9;*top:5px}
.search_form button{border:0 none;cursor:pointer;overflow:visible;width:auto;background-color:#ddd;padding:.2em .4em;*padding:.2em .6em;_padding:.2em .4em;margin:0 .2em;*margin:0 .3em;*height:2em; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-shadow:.1em .1em .1em rgba(0,0,0,.5);-moz-box-shadow:.1em .1em .1em rgba(0,0,0,.5);-webkit-box-shadow:.1em .1em .1em rgba(0,0,0,.5);box-shadow:.1em .1em .1em rgba(0,0,0,.5)}
.search_form button.button_search{background-color:#47a;font-weight:bold;color:#fff;*margin-left:.5em;font-size:inherit;}
.search_form button.button_search:active{background-color:#4c96df}
.search_form button.button_preview{background-color:#A64D48;font-weight:bold;color:#fff}
.search_form button.button_preview:active{background-color:#F27069}
.search_form input:focus{-moz-box-shadow:0 0 .3em rgba(211,186,44,.8)}
.search_form .ui-ncbiclearbutton-wrap { width: 64%; *display: inline; border:1px solid #999; }
.search_form .ui-ncbiclearbutton-wrap input { width: 100%; *width: 50%; }
.search_form .ui-ncbiclearbutton-wrap a.reset { margin-left: 0; top: 50%; margin-top: -7px; }
.rss_icon{position:relative;top:3px;margin-right:.3em}
.rss_menu{z-index:1001;display:none;}
.rss_menu legend{font-weight:bold;margin:2px 0 0 3px}
.rss_menu ul{margin:0;padding:0;list-style-type:none;padding-top:5px}
.rss_menu ul li{margin-bottom:.4em}
.rss_menu span,.rss_menu label{margin-right:.5em}
.rss_menu ul input{top:0}
.rss_menu dd{margin-left:0;margin-bottom:1em}
.rss_menu #rss_name{width:15em}
.rss_menu button{margin-top:.5em}
.rss_menu label{display:block}
.db_logo{background:transparent url() no-repeat scroll left top;display:block;height:36px;width:100px;text-indent:-9999px}
.res_logo{width:11.539em;left:1.231em;padding-top:.4em;position:absolute}
.res_logo h1{font-weight:normal;margin:0}
.long{padding:.5em 0}
.long h1{line-height:1.15}
.res_logo h1 a{color:#333;display:block;padding:.3em 0;text-shadow:1px 1px 1px rgba(240,240,240,.9)}
.res_tagline{display:none}
.res_logo h1 a,.res_logo h1 a:hover,.res_logo h1 a:visited{text-decoration:none}
h1.img_logo{margin:0}
h1.img_logo a{padding:0}
div.success_msg, div.warn_msg, div.error_msg { padding: .4em; margin: .5em; color: black; font-family: helvetica, arial, verdana, sans-serif; }
div.success_msg img, div.warn_msg img, div.error_msg img { position: relative; top: .15em; margin-left: .2em; }
div.success_msg { border: 1px solid #6c6; background-color: #cfc; }
div.warn_msg { border: 1px solid #e3d21c; background-color: #ffffef; }
div.error_msg { border: 1px solid #f88; background-color: #fdd; }
.success, .error, .warn, .info, .suggest, .hi_warn {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.navlink-box>.page-breadcrumbs li a {
    background: url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/3848514) no-repeat right;
    padding-right: 8px;
}
.share-buttons h2 {
    color: #000;
}
.share-buttons ul {
    list-style: inside;
    margin: 0;
    padding: 0;
}
.share-buttons ul li {
    display: inline-block;
    margin: 0 1em 2em 0;
}
.share-buttons a img {
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
}
#rightcolumn .share-buttons a {
    color: #5e5e5e;
    text-decoration: none;
}
.format-menu {
    margin-bottom: 1em;
}
.format-menu ul {
  display: inline;
  padding: 0;
  margin: 0;  
}
.format-menu h2 {
  color: #000;
}
.format-menu ul li {
  display: inline;
  margin: 0 .3em 0 .3em;
}
.format-menu ul li a { 
  color: #000000; 
}
.format-menu ul li.selected { 
  color: #5E5E5E; 
}
div.try-button {
  text-align: center;
  margin-top: .3em;
}
div.pubmed_favoritesad div.colloading {position:absolute; left:130px; top: 5px; width:15px; 
background: url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/26219) no-repeat top left;overflow: hidden;text-indent: -100px; display:none;}
#favList {width: 9.1em;}
.ui-ncbisetswitch > a.jig-ncbisetswitch:hover, .ui-ncbisetswitch > a.ui-ncbisetswitch-button:hover 
 {
    background: #e8e8e8;
    background: -moz-linear-gradient(top,#e8e8e8 0%,#e0e0e0 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e8e8e8),color-stop(100%,#e0e0e0));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8',endColorstr='#e0e0e0',GradientType=0 ); }
#submenu_AddToCollections {
    display: none;
}
.portlet { border-top: .4em solid #97b0c8; padding-top: .461em; margin: .769em 0 2.154em 0; overflow: visible; line-height: 1.231em; zoom:1; }
.portlet h1, .portlet h2, .portlet h3, .portlet h4, .portlet h5, .portlet h6 {color: #985735; font-weight: bold; display: inline;  }
.portlet .whatsthis {color: #14376c; white-space: nowrap; margin-left: .3em;}
.portlet ul { margin: 0; padding: 0; }
.portlet ul li { list-style-type: none; margin-top: .461em; border-bottom: 1px dotted #CCC; padding-bottom: 0.4em; position: relative; overflow: visible; zoom:1;  }
.portlet .portlet_list li { border-bottom: 0; }
.portlet ul li a { font-weight: normal; color: #14376c; text-decoration: none; }
.portlet ul li a:hover,.portlet ul li a:active{border-bottom:0}
.portlet ul a { _display: block; _float: left; _clear: left; }
.portlet .seemore { display: block; text-align: right; color: #14376c; font-size: .923em; text-decoration: none; margin-top: .8em; }
.portlet .portlet_section_header { text-decoration: none; font-weight: bold; color: #000; border-bottom:0 } 
.portlet li.two_line { height: 2.461em; height\0: 2.361em; overflow: hidden; }
.portlet .two_line a { max-height: 2.453em; overflow: hidden; display: block; }
.portlet .long_info, .portlet p, .portlet .two_line .source, .portlet .one_line_source, .portlet_content .image .desc, .portlet ul li .desc a { color: #777;}
.portlet .two_line .source, .portlet .one_line_source { white-space: nowrap; position: absolute; right: 0; background-color: white; padding-left: .3em; }
.portlet .two_line .source { top: 1.231em; }
.portlet .two_line .tertiary { font-size: .769em; color: #777; position: absolute; right:0; background-color: white; padding: .1em 0 0 .3em; top: 1.6em; top\0: 1.5em; }
.portlet .portlet_content p { margin: .8em 0; }
.portlet .buttonwrap { float: left; position: relative; top: -.1em; overflow: visible; }
.portlet .invert { color: #fff; background-color: #14376c; padding: 0 .2em; }
.portlet .tertiary { color: #777; text-align: right; line-height: 1.4em; position: relative; top: .1em; }
.portlet_content { position: relative; margin: 0; }
.portlet_content textarea { margin: 0 0 .9em; }
.portlet_content img { margin: .3em 1.4em .7em 0;}
.portlet_content .image { display: block; overflow: auto; overflow:hidden\0; }
.portlet_content .image .img_link { float: left; }
.portlet_shutter { background: url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/32197) no-repeat scroll left top;  display: block; float: right; width: 15px; height: 15px; position: absolute; top: -.2em; margin-left: .6em; right: 0; }
.shutter_closed { background-position: left bottom; }
.portlet .related li { border-bottom: 0; }
.portlet .right { text-align: right; }
.ra_qry, .ra_rcd { padding-left: 2em; }
.ra_qry { background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/32182) no-repeat scroll 0 1px; }
.ra_rcd { background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/32183) no-repeat scroll 0 1px; }
.sensor {border:1px solid #97B0C8;background-color:#FEFEFF;padding:0;margin:0 0 1em 0}
.sensor_inner {border:3px solid #D7E2EC;background-color:#FEFEFF;padding:0 1em 1em;margin:0}
.sensor .sensor_head { margin-bottom: 0; position: relative}
.sensor .sensor_head h3 { font-weight: normal; }
.sensor h3,.sensor h4,.sensor h5,.sensor h6{margin:.6923em 0 0}
.sensor .sensor_content{margin-bottom:1.1em}
.sensor p{margin:0}
.sensor .portlet_shutter { display: none; }
.no_p_margins{margin:0}
.portlet_head{margin-bottom:.461em;position: relative}
.portlet_title,.sensor_title{margin-right: 2em}
.portlet_title h3 { line-height: inherit; }
div.port li.item em.linklist.error{
    color:#CC0000;
    font-size: 1.2em;
    background-color:#EAEBC8;
}
div.port.norender {
    font-family: Arial,Lucida Sans,Trebuchet,Sans-Serif;
}
.portlet .ui-ncbitoggler-slave,
.portlet .ui-ncbitoggler-slave-open {
    margin: 0;
}
.portlet.blueStyle {
    border: 2px solid #f2eee5;
    box-shadow: 1px 1px 2px #ede7da;
    background: #fffbee;
    margin-top: 1.85em;
    margin-right: 2px;
    border-radius: 9px;  
}
.portlet.blueStyle>div {
    margin: 1em;    
}
.portlet.blueStyle .portlet_head {
    background: #5f8ece;
    padding: 0.6em 1em;
    margin: -1.65em 0.4em 0em 0.4em;
    border-radius: 7px;
}
.portlet.blueStyle .portlet_title h3 {
    color: #fff;
}
.portlet.blueStyle .portlet_shutter {
    top: 0.65em;
    right: 0.8em;
}
.portlet.whiteStyle {
    border: 1px solid #f2eee5;
    box-shadow: 1px 1px 2px #ede7da;
    background: #fff;
    margin-right: 2px;
    border-radius: 9px;  
}
.portlet.whiteStyle>div {
    margin: 1em;    
}
.portlet.whiteStyle .portlet_head {
    background: #fff;
    padding: 0 1em 0em 0;
    
    margin-top: 0.5em;
    margin-bottom: 0em;
    
    
    
}
.portlet.whiteStyle .portlet_title h3 {
    color: #003366;
}
.portlet.whiteStyle .portlet_shutter {
    top: 0.1em;
}
.inline_sensor {
    width: 30%;
    float: left;
    border: 1px solid #f2eee5;
    box-shadow: 1px 1px 1px #ede7da;
    
    margin-right: 2.8%;
    margin-bottom: 2em;
    border-radius: 9px;  
}
.inline_sensor .image {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.inline_sensor.right {
    float: right;
    margin-left: 2.8%;
    margin-right: 2px;
}
.inline_sensor h3 {
    background: url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/3593075) repeat-x;
    margin: 0;
    padding: 0.5em;
    color: #fff;
    display: block;
    font-size: 1.2em;
}
.inline_sensor .sensor_content
{
    margin: 0.5em 0.9em;
}
div#HTDisplay ul li a.hidden {
    display:none;
}
div#HTDisplay div.action {    
    overflow:hidden;  
    width: 100%; 
}
div#HTDisplay div.action a {
    margin: 0em .5em .25em .5em;
    float: right;    
    color:#14376C;
    font-size:0.846em;
}
div#HTDisplay p {
    clear: both;
    color:#14376C;
    margin: 1.2em 0em 0.6em 0.5em;
}
div#HTDisplay p a {   
    color:#14376C;
}
div#HTDisplay p, div#HTDisplay .action a.HTOff, div#HTDisplay.HTOff .action a.HTOn {
    display:none;
}
div#HTDisplay.HTOff p.HTOff, div#HTDisplay.HTOn p.HTOn {
    display:block;
}
div#HTDisplay.HTOff .action a.HTOff, div#HTDisplay.HTOn .action a.HTOn {
    display:block;
}
div#HTDisplay ul.hide {
    display:none;
}
div#HTDisplay p.Err {
    display:block;
}
div#HTDisplay.HTOff a.seemore, div#HTDisplay.HTOn a.seemore {
    display:none;
}
body .popper {font-size: 1.2em;} 
div.popper p {
margin: 0 0 0.25em 0;
}
p#htbpcit,
p.pmid {
font-size: 85%;
display: block;
}
p#htbpcit {
font-style: italic;
}
#htbpopper.hidden {
display: none;
}
div#HTDisplay .ralinkpop { width: 350px; }
div.pmc_para_cit {
  
  visibility: hidden;
  
  border: 2px solid white;
  
  border-top: 1px solid black;
  
  background: white;
  padding: 4px;
}
div.pmc_para_cit.stretched {
  
  border: 2px solid #CCC;
  border-top: 1px solid #CCC;
  
  
  -webkit-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.4);
  -moz-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.4);
  box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.4)
}
div.pmc_para_cit li.expanded span.one_line_source {
  display: none;
}
div.pmc_para_cit li.expanded div.alt-note {
  margin-top: .4em;
  margin-bottom: .4em;
  
}
div.pmc_para_cit div.citation {
  margin-top: .3em;
  font-size: 0.85em;
}
div.pmc_para_cit li.two_line span.one_line_source {
  bottom: 1px;
}
div.pmc_para_cit li.two_line div.alt-note {
  display: none;
}
#body-link-poppers .ui-ncbipopper-wrapper {
  z-index: 2000;
}
#body-link-poppers div.authors,
#body-link-poppers div.citation {
  margin-top: 0.5em;
  margin-bottom: -0.3em;
  font-style: italic;
}
.ui-ncbipopper-arrow-left {
  padding-top: 1.4em;
}
.pmc_para_cit .two_line {
    padding-bottom: 0;
}
