<!-- End supplemental 160 ad -->
</div>
</div>

<!-- ====================== SEPARATE NAME #1 ======================    -->

<div class="browsename b0"><b><a 

	href="/name/afe12rdita"
		>
			AF&Euml;RDITA
		</a></b> 
	&nbsp; 

	<span class="fem">f</span> 

&nbsp; <span class="info"><a href="/names/usage/albanian" class="usg">Albanian</a></span><br>Means "daybreak, morning" in Albanian, from <i>af&euml;r</i> "nearby, close" and <i>dit&euml;</i> "day".</div><div class="browsename b1"><b><a href="/name/afrim">AFRIM</a></b> &nbsp; <span class="masc">m</span> &nbsp; <span class="info"><a href="/names/usage/albanian" class="usg">Albanian</a></span><br>Means "approach" in Albanian.</div>

<!-- ====================== SEPARATE NAME #2 ======================    -->

<div class="browsename b0"><b><a 
	href="/name/ai-1"
		>
			AI 
		<span class="tiny"> (1)</span></a></b> 
	&nbsp; &#24859;, &#34253; &nbsp; <span class="fem">f</span> &nbsp; <span class="info">

	<a href="/names/usage/japanese" class="usg">Japanese</a>

<!-- ====================== SEPARATE GENDER - single ======================    -->

<div class="browsename b0"><b><a href="/name/albrecht">ALBRECHT</a></b> &nbsp; 

	<span class="masc">m</span> 

&nbsp; <span class="info"><a href="/names/usage/german" class="usg">German</a></span><br>German cognate of <a href="/name/albert" class="nl">ALBERT</a>.</div><div class="browsename b1"><b><a href="/name/alena">ALENA</a></b> &nbsp; <span class="fem">f</span> &nbsp; <span class="info"><a href="/names/usage/german" class="usg">German</a>, <a href="/names/usage/czech" class="usg">Czech</a>, <a href="/names/usage/slovak" class="usg">Slovak</a>, <a href="/names/usage/slovene" class="usg">Slovene</a></span><br>Short form of <a href="/name/magdalena" class="nl">MAGDALENA</a> or <a href="/name/helena" class="nl">HELENA</a>.</div>

<!-- ====================== SEPARATE GENDER - unisex ======================    -->

<div class="browsename b0"><b><a href="/name/alex">ALEX</a></b> &nbsp; 

	<span class="masc">m</span>

<span class="info"> & </span>

	<span class="fem">f</span>

 &nbsp; <span class="info"><a href="/names/usage/english" class="usg">English</a>, <a href="/names/usage/dutch" class="usg">Dutch</a>, <a href="/names/usage/german" class="usg">German</a>, <a href="/names/usage/french" class="usg">French</a>, <a href="/names/usage/portuguese" class="usg">Portuguese</a>, <a href="/names/usage/italian" class="usg">Italian</a>, <a href="/names/usage/romanian" class="usg">Romanian</a>, <a href="/names/usage/swedish" class="usg">Swedish</a>, <a href="/names/usage/norwegian" class="usg">Norwegian</a>, <a href="/names/usage/danish" class="usg">Danish</a>, <a href="/names/usage/icelandic" class="usg">Icelandic</a>, <a href="/names/usage/hungarian" class="usg">Hungarian</a></span><br>Short form of <a href="/name/alexander" class="nl">ALEXANDER</a>, <a href="/name/alexandra" class="nl">ALEXANDRA</a>, and other names beginning with <i>Alex</i>.</div><div class="browsename b1"><b><a href="/name/alexa">ALEXA</a></b> &nbsp; <span class="fem">f</span> &nbsp; <span class="info"><a href="/names/usage/english" class="usg">English</a>, <a href="/names/usage/german" class="usg">German</a>, <a href="/names/usage/hungarian" class="usg">Hungarian</a></span><br>Short form of <a href="/name/alexandra" class="nl">ALEXANDRA</a>.</div>


<!-- ====================== GET AUMLUTS AND ASCII ======================    -->

  AF&Euml;RDITA ->
	&
		E
	uml;

  B&Auml;RBEL ->
	&
		A
	uml;

<!-- ====================== UNICODE && Different views ======================    -->


<div class="browsename b0"><b><a 
	href="/name/ai-1"
		>
			AI 
		<span class="tiny"> (1)</span></a></b> 
	&nbsp; &#24859;, &#34253; &nbsp; <span class="fem">f</span> &nbsp; <span class="info"><a href="/names/usage/japanese" class="usg">Japanese</a>


<div class="browsename b0"><b><a href="/name/ai-1">AI <span class="tiny"> (1)</span>
	</a></b> &nbsp; 
		&#24859;, &#34253; 
	&nbsp; <span 
	class="fem">f</span> &nbsp; <span class="info"><a href="/names/usage/japanese" class="usg">Japanese</a></span><br>From Japanese <i>

<div style="margin-top:15px;margin-bottom:15px;">

<div class="browsename b0"><b><a href="/name/aali">AALI

	</a></b> &nbsp; &#1593;&#1575;&#1604;&#1610; &nbsp; <span

 class="masc">m</span> &nbsp; <span class="info"><a href="/names/usage/arabic" class="usg">Arabic</a></span><br>Means "high, lofty, sublime" in Arabic.</div><div class="browsename b1"><b><a href="/name/aaliyah">AALIYAH</a></b> &nbsp; &#1593;&#1575;&#1604;&#1610;&#1577; &nbsp; <span class="fem">f</span> &nbsp; <span class="info"><a href="/names/usage/arabic" class="usg">Arabic</a>, <a href="/names/usage/english" class="usg">English (Modern)</a></span><br>Feminine form of <a href="/name/aali" class="nl">AALI</a>. It was popularized in the English-speaking world by the singer Aaliyah Haughton (1979-2001), who was known simply as Aaliyah.</div>


