<span class="heavy"><a href="/names/usage/albanian">Albanian</a></span><br>
<span class="heavy"><a href="/names/usage/basque">Basque</a></span><br>
<span class="heavy"><a href="/names/usage/bulgarian">Bulgarian</a></span><br>
<span class="heavy"><a href="/names/usage/catalan">Catalan</a></span><br>
<span class="heavy"><a href="/names/usage/cornish">Cornish</a></span><br>
<span class="heavy"><a href="/names/usage/croatian">Croatian</a></span><br>
<span class="heavy"><a href="/names/usage/czech">Czech</a></span><br>
<span class="heavy"><a href="/names/usage/danish">Danish</a></span><br>
<span class="heavy"><a href="/names/usage/dutch">Dutch</a></span><br>
<span class="heavy"><a href="/names/usage/english">English</a></span><br>
<span class="heavy"><a href="/names/usage/finnish">Finnish</a></span><br>
<span class="heavy"><a href="/names/usage/french">French</a></span><br>
<span class="heavy"><a href="/names/usage/frisian">Frisian</a></span><br>
<span class="heavy"><a href="/names/usage/galician">Galician</a></span><br>
<span class="heavy"><a href="/names/usage/german">German</a></span><br>
<span class="heavy"><a href="/names/usage/greek">Greek</a></span><br>
<span class="heavy"><a href="/names/usage/hungarian">Hungarian</a></span><br>
<span class="heavy"><a href="/names/usage/icelandic">Icelandic</a></span><br>
<span class="heavy"><a href="/names/usage/irish">Irish</a></span><br>
</div>
</td><td width="50%" valign="top">
<div class="usage_group">
<span class="heavy"><a href="/names/usage/italian">Italian</a></span><br>
<span class="heavy"><a href="/names/usage/latvian">Latvian</a></span><br>
<span class="heavy"><a href="/names/usage/lithuanian">Lithuanian</a></span><br>
<span class="heavy"><a href="/names/usage/macedonian">Macedonian</a></span><br>
<span class="heavy"><a href="/names/usage/norwegian">Norwegian</a></span><br>
<span class="heavy"><a href="/names/usage/occitan">Occitan</a></span><br>
<span class="heavy"><a href="/names/usage/polish">Polish</a></span><br>
<span class="heavy"><a href="/names/usage/portuguese">Portuguese</a></span><br>
<span class="heavy"><a href="/names/usage/romanian">Romanian</a></span><br>
<span class="heavy"><a href="/names/usage/russian">Russian</a></span><br>
<span class="heavy"><a href="/names/usage/scottish">Scottish</a></span><br>
<span class="heavy"><a href="/names/usage/serbian">Serbian</a></span><br>
<span class="heavy"><a href="/names/usage/slovak">Slovak</a></span><br>
<span class="heavy"><a href="/names/usage/slovene">Slovene</a></span><br>
<span class="heavy"><a href="/names/usage/spanish">Spanish</a></span><br>
<span class="heavy"><a href="/names/usage/swedish">Swedish</a></span><br>
<span class="heavy"><a href="/names/usage/ukrainian">Ukrainian</a></span><br>
<span class="heavy"><a href="/names/usage/welsh">Welsh</a></span><br>