
.container {
    margin: 0 1.3em;
}
.four_col.last {
    width: 33.3%;
    margin-right: -6px;
}
.four_col .portlet {
    margin-top: 0;
}
body .grid .goto, .ui-ncbilinksmenu {font-family:arial,helvetica,clean,sans-serif;}
body .grid .goto, body .ui-ncbilinksmenu {font-size:.86666em !important}
.ui-ncbipopper-basic{font-size:1.3em}
.verse-group{font-style:italic;margin-left:1.3846em}
.space{margin-top:4.1538em}
body .page-box,body .page-box-wide{background-color:#fff;border:0;margin:0;border-radius:0}
body .page-box-wide{padding:2em 1.6em}
body .page-box{max-width:none;padding:0 1em 1em 3em}
body div.stdnoportlets{padding:0}
.pmc-page-breadcrumbs{margin:1em 1em 1em 3em}
body .navlink-box{margin:0}
.journals .page-box-wide{padding:0}
.retraction{font-size:1.0769em}
.pmc-warning-box{border:1px solid #e88;padding:.6923em}
.boxed-text-box,.links-box{border:1px solid #ddd;background-color:#f6f6f6;padding:0 0.6923em}
.boxed-text-box h2,.boxed-text-box h3,.boxed-text-box h4,.boxed-text-box h5,.boxed-text-box h6{margin:0.6923em 0}
.boxed-text-box h3.inline,
.boxed-text-box h4.inline,
.boxed-text-box h5.inline,
.boxed-text-box h6.inline{
  margin-top: 0;
  margin-bottom: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; 
    padding: 0; 
}
button,
input,
select,
textarea {
    font-family: inherit; 
    font-size: 100%; 
    margin: 0; 
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"], 
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
}
input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto; 
    vertical-align: top; 
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 div#besetsel-form h3 {
  color: white;
}
div.besetsel-body {
  margin-left: 1em;
}
div#besetsel-form div {
  margin-bottom: .5em;
}
div#besetsel-form a {
  color:white;
}
div#besetsel-form a:hover {
  background-color: #666;
}
.sidecontentpullout {
	background-color: #c00;
	color: white;
	padding: 4px 3px;
	-moz-border-radius-bottomleft: 1em;
	-moz-border-radius-topleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-webkit-border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
	font-size: 1.2em;
	opacity: 1 !important;
}
.sidecontentpullout:hover {
	background-color: #444444;
	color: white;
	opacity: 1 !important;
}
.sidecontent {
    font-size: 1.2em;
	background-color: black;
	color: white;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	border-bottom-left-radius: 1em;
	zoom: 1;
	z-index: 10000 !important;
}
.sidecontent > div > div {
	padding-left: 10px;
	padding-right: 40px;
}
.sidecontent h2 { color: white; }
.sidecontent a { color: white; display: block; margin: 0; padding: 2px 5px;}
.sidecontent a:hover { background-color: #666;}
.sidecontent, .sidecontentpullout { position: fixed !important; }
.sctable td { border: none; padding-right: 5px;}
body{font:62.5%/1.3846 arial,helvetica,clean,sans-serif;background-color:#ccc;margin:0}
.grid{font-size: 1.3em}
img{border:0}
abbr,acronym{cursor:help;border-bottom:1px dotted #000;}
blockquote{margin:1.3846em 1em;}
p,table,pre,fieldset,dl{margin: 0.6923em 0;}
ol,ul{margin: 0.6923em 1em 0.6923em inherit}
dl dd{margin-left:1em;}
table{border-collapse:collapse;margin:1.3846em 0;}
thead{border-bottom:1px solid #eee;}
tfoot{border-top:1px solid #eee;}
th{text-align:center;background-color:#f0f0f0;}
th,td{padding:0.2em;border:1px solid #ddd;}
caption{margin-bottom:.5em;text-align:center;}
fieldset {border: 0;}
button{cursor:pointer;}
input,button,textarea{margin:2px;}
input[type="checkbox"] {margin: 3px 3px 3px 4px;}
textarea {font-family: monospace; font-size: 1.2296em; *font-size:1em; vertical-align:baseline;}
h1,.h1{font-size: 1.3846em; line-height:1.5; margin:1em 0 .5em; } 
h2,.h2{font-size: 1.2307em; line-height:1.125; margin:1.125em 0 .5625em;} 
h3,.h3{font-size: 1.0769em; line-height:1.2857; margin:1.2856em 0 .6428em; } 
h4,h5,h6,h3.inline{font-size: 1em; margin:1.3846em 0 .6923em; } 
h5,.h5{font-style:italic;font-weight:normal;}
h6, .h6 {font-weight: normal;}
h4,.h4{color:#59331f;}
h3,.h3{color:#724128;}
h2,.h2{color:#985735;}
h1,.h1{color:#000;}
h3.inline,h4.inline,h5.inline,h6.inline{display:inline;float:left;margin:0 0 -0.125em;padding-right:.3em}
.whole_rhythm {margin: 1.3846em 0} 
.half_rhythm {margin: .6923em 0} 
.no_top_margin{margin-top:0}
.no_bottom_margin{margin-bottom:0}
.no_margin{margin:0}
.content a{color:#2f4a8b}
.content a:hover,.content a:active{color:#985735}
.content a:visited{color:#642a8f}
.inline_list,.inline_list_right{list-style-type:none;margin:0;padding:0}
.inline_list li{display:inline;margin-right:.3em}     
.inline_list_right li{display:inline;margin-left:.4em;}
.column_list{list-style-type:none;margin:0;padding:0}
.column_list li{float:left;width:8em}
.offscreen{text-indent:-9999px}
.offscreen_noflow{float:left;text-indent:-9999em;_display:block;margin:0;padding:0;height:0;}
.left{float:left}
.right{float:right}
.align_right{text-align:right}
.hidden{display:none}
.nowrap{white-space:nowrap}
.noborder{border:0}
body .no_max_width{max-width:none;overflow:auto}
.inline_block{display:-moz-inline-box;display:inline-block;*display:inline;zoom:1;}
.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{zoom:1}
.small,sup,sub{font-size:.8461em; line-height: 1.6363em;} 
.small sup,.small sub{font-size:1em}
sup,sub{position:relative;vertical-align:baseline;}
sup{top:-.5em}
sub{top:.25em}
.shadow {-webkit-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);-moz-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3)}
.iconblock{overflow:hidden}
.icnblk_img{text-decoration:none;float:left;margin-right:1em;cursor:pointer}
.icnblk_img_right { float: right; margin-right: 0; margin-left: 1em;}
.icnblk_cntnt{display:table-cell;vertical-align:top;*zoom:1}
.icnblk_cntnt h1,.icnblk_cntnt h2,.icnblk_cntnt h3,.icnblk_cntnt h4{margin:0 0 .6923em}
.grid{ min-width:800px; max-width:1200px; width:100%; clear:both; margin:0 auto; text-align:left;overflow:hidden }
.col { margin-right: 1%; float: left; background-color: #fff; overflow:hidden; }
.last { *zoom:1; *margin-right:0; _margin-right:-6px;  }
.col.last {float:right;}
.one_col { width: 7.3333%; }
.two_col { width: 15.6664%; }
.three_col { width: 23.9999%; }
.four_col { width: 32.3333%; }
.five_col { width: 40.6666%; }
.six_col { width: 48.9999% }
.seven_col { width: 57.3333%; }
.eight_col { width: 65.6666%; }
.nine_col { width: 73.9999%; }
.ten_col { width: 82.3333%; }
.eleven_col { width: 90.6666%; }
.twelve_col { width: 98.9999%; }
@media screen and (max-width: 1200px) {
	body > .grid > .twelve_col { width: 100%; }
}
h1.res_name a.imglogo {
    background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/251741) no-repeat scroll 0% 0%;
    display: block;
    height: 45px;
    text-indent: -9999px;
    width: 165px;
}
.dbheader .headerimage { background-image: url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/3818869); }
.container { margin: 0 1.6em;}
body.object-only {
  background-color: white;
}
 
.pmc-grid {
  width: 1200px;
}
body.article.scanned-article-browse .pmc-grid {
  width: 1200px;
}
body.article.scanned-article-browse .eight_col { 
    width: 70.8333%; 
}
body.article.scanned-article-browse .four_col { 
    width: 27.1667%; 
}
.pmc-page-banner {
  width: 100%;
  text-align: center;
}
div.messagearea { 
  margin: 1em 1em 1em 3em; 
  padding: 0; 
  border: solid 1px #DDDDDD; 
  background: #F6F6F6; 
  clear: both; 
}
#messagearea.empty { 
  border: none; 
  clear: both; 
}
ul.messages { 
  font-family: Arial; 
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none; 
}
ul.messages li { 
  margin: 0.22em 0 0.22em; 
  padding: 0.231em 0.462em; 
  background-repeat: no-repeat;
}
div.nomargin {
  margin-right: 0;
}
body.table .grid {
  overflow: inherit;
}
body.table .grid .col {
  overflow: auto;
}
body.table div.hide-overflow.article.lit-style.page-box-wide {
  overflow: auto;
}
.default_table th, .default_table td {
  vertical-align: top;
  padding-right: 5px;
  padding-left: 5px;
}
.body-link-popper .invert {
    background-color: #14376C;
    color: #FFFFFF;
    padding: 0 0.2em;
}
#maincontent .links-box {
    border: 1px solid #eac3af;
    background-color: #fff4ce;
    padding: 0.3923em 0.6923em;
    border-radius: 5px;
}
.pmc_logo {
	background: transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/3005255) no-repeat scroll left top;
	display: block;
	height: 33px;
	width: 110px;
	text-indent: -9999px;
	margin-left: 1em;
}
.NLMLogo {
  line-height: 1.2em;
  font-size: 0.692em;
}
.NLMLogo a {
  color: #555;
}
noscript p.nojs {
	background: #ffb url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/67327) no-repeat 5px center;
	padding: 4px;
	padding-left: 28px;
	margin:0;	
}
.grid .lit-style{font: 1.2307em/1.375 'Times New Roman', serif}
.grid .lit-style h1,.grid .lit-style h2,.grid .lit-style h3,.grid .lit-style h4,.grid .lit-style h5,.grid .lit-style h6{font-family:arial,helvetica,clean,sans-serif}
.grid .lit-style h1{font-size:1.25em; line-height:1.35em}    
.grid .lit-style h2{font-size:1.125em; line-height:1.1111em} 
.grid .lit-style h3{font-size:1em; line-height:1.25em}       
.grid .lit-style h4,.grid .lit-style h5,.grid .lit-style h6{font-size:.9em !important; line-height:1.3888em} 
.grid .lit-style h3.inline{line-height:1.2375em}
.grid .lit-style h4.inline,.grid .lit-style h5.inline,.grid .lit-style h6.inline{line-height:1.5865em}
.grid .lit-style .fm-sec{font:.8125em/1.3846 arial,helvetica,clean,sans-serif}
.grid .lit-style .fm-sec h1{font-size:1.5384em} 
.grid .lit-style .fm-sec h2{font-size:1.3846em} 
.grid .lit-style .fm-sec h3{font-size:1.2307em} 
.grid .lit-style .fm-sec h4{font-size:1.1076em} 
.grid .lit-style code,.grid .lit-style kbd,.grid .lit-style pre,.grid .lit-style samp{font-size:.8125em}
.uppercase{text-transform: uppercase;letter-spacing:.06em;}
.caps{text-transform:capitalize;}
.small-caps{text-transform: lowercase; font-variant:small-caps;letter-spacing:.02em;}
.overline{text-decoration:overline;}
.roman{font-style:normal}
.greek{font-family:Georgia, Times,"Times New Roman", serif}
.lower-alpha{list-style-type:lower-alpha}
.upper-alpha{list-style-type:upper-alpha}
.lower-roman{list-style-type:lower-roman}
.upper-roman{list-style-type:upper-roman}
.circle{list-style-type:circle}
.square{list-style-type:square}
.simple-list{list-style-type:none}
.first-line-outdent{list-style-type:none}
.first-line-outdent li:first-letter{margin-left:-1.5em}
.large-number-list{margin-left:2.75em;*margin-left:3em}
.labeled-list{}
.labeled-list dt,.labeled-list dd{display:inline;margin:0}
.labeled-list dd{margin-left:1.5em}
.labeled-list dd:after{content:'\A';white-space:pre}
.temp-labeled-list{}
.temp-labeled-list dt{float:left;margin-right:.8em}
.temp-labeled-list dd{vertical-align:top;display:table-cell;*display:inline-block}
.label{margin-right:1em;}
.figure{margin: 1.3846em 0}
.eight_col img.fullwidth { width: 100% !important; }
.subtitle{font-weight:bold;margin-top:-.5em}
.def{cursor:help}
.box.warn {border:1px solid #000;margin:42px 0 45px 0;padding:0 0 35px 0;}
.box.warn h3 {background-color:#f7d118;border-bottom:1px solid #000;height:21px;margin: 0 0 35px;padding-top:2px;text-align:center;}
.box.warn p {padding: 0 35px 0 35px;}	
.box.warn * {color: #000;}
.default_table tfoot{border:none}
.default_table thead{border:none}
.default_table th{background-color:inherit}
.default_table th,.default_table td{border:none}
table[frame='void']{border:0}
table[frame='above']{border-top:1px solid #000}
table[frame='below']{border-bottom:1px solid #000}
table[frame='hsides']{border-top:1px solid #000;border-bottom:1px solid #000}
table[frame='vsides']{border-left:1px solid #000;border-right:1px solid #000}
table[frame='lhs']{border-left:1px solid #000}
table[frame='rhs']{border-right:1px solid #000}
table[frame='box'],table[frame='border']{border:1px solid #000}
table[rules='none'] td{border:0}
table[rules='rows'] tr{border-top:1px solid #888;border-bottom:1px solid #888}
table[rules='cols'] td,table[rules='cols'] th{border-left:1px solid #888;border-right:1px solid #888}
table[rules='groups'] thead+tbody,table[rules='groups'] tfoot+tbody,table[rules='groups'] tbody+tbody{border-bottom:1px solid #888}
table[rules='groups'] tbody+tfoot,table[rules='groups'] thead+tfoot,table[rules='groups'] thead+tbody{border-top:1px solid #888}
table[rules='groups'] col,table[rules='groups'] colgroup{border:0}
table[rules='groups'] col+col,table[rules='groups'] colgroup+colgroup{border-left:1px solid #888}
table[rules='all'] td,table[rules='all'] th{border:1px solid #888}
table[rules='cols'] td:first-child,table[rules='cols'] th:first-child,table[rules='all'] td:first-child,table[rules='all'] th:first-child{border-left:0}
table[rules='cols'] td:last-child,table[rules='cols'] th:last-child,table[rules='all'] td:last-child,table[rules='all'] th:last-child{border-right:0}
table[rules='rows'] tr:first-of-type,table[rules='all'] tr:first-of-type{border-top:0}
table[rules='rows'] tr:last-of-type,table[rules='all'] tr:last-of-type{border-bottom:0}
table[rules='rows'] thead+tfoot,table[rules='rows'] thead+tbody,table[rules='rows'] tbody+tbody,table[rules='rows'] tbody+tfoot{border-top:1px solid #888}
table[rules='all'] tr:first-of-type td,table[rules='all'] tr:first-of-type th{border-top:0}
table[rules='all'] tr:last-of-type td,table[rules='all'] tr:last-of-type th{border-bottom:0}
table[rules='all'] thead+tfoot,table[rules='all'] thead+tbody,table[rules='all'] tbody+tbody,table[rules='all'] tbody+tfoot{border-top:1px solid #888}
th[align='left'], td[align='left'] {text-align:left;}
th[align='right'], td[align='right'] {text-align:right;}
th[align='justify'], td[align='justify'] {text-align:justify;}
th[valign='top'],td[valign='top'] {vertical-align:top;}
th[valign='middle'],td[valign='middle'] {vertical-align:middle;}
th[valign='bottom'],td[valign='bottom'] {vertical-align:bottom;}
.tgt_light{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% -1%;padding-right:17px;margin-right: 3px}
.tgt_light:active{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 12%}
.tgt_dark{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 43.5%;padding-right:17px;margin-right:3px}
.tgt_dark:active{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 25%}
.tgt_light_up{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 56%;padding-right:17px;margin-right:3px}
.tgt_light_up:active{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 69%}
.tgt_dark_up{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 100%;padding-right:17px;margin-right:3px}
.tgt_dark_up:active{background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/2846531) no-repeat 100% 83%}
.tabPopper{top:0;left:0;display:none;background-color:#fff;padding:.2em;margin-top:3px;*padding-bottom:1em;box-shadow:.4em .4em .5em #999;-webkit-box-shadow:.4em .4em .5em #999;-moz-box-shadow:.4em .4em .5em #999;border:1px solid #ccc;border-bottom:1px solid #666\0;border-right:1px solid #666\0;}
.tabPopperCover{position:absolute;top:0px;left:0px;height:1px;background-color:#FFA600;overflow:hidden}
.tabPopper fieldset{border:0;padding:0;margin:4px 10px}
.tabPopper fieldset ul,.tabPopper fieldset dl{border-top:1px solid #ddd;padding-top:3px}
.tabPopper fieldset dl{margin:0 0 6px 0}
.tabPopper fieldset input{position:relative;top:1px}
div.messagearea {
    margin:0;
    padding: 0;
    clear:both;
}
div.browsername {
    background-color: #FFF;
    padding-left: 0.5em;
    }
#messagearea.empty {
    border: none;
    clear: both;
}
div#messagearea ul.messages li.hi_warn { margin: 2.5em 0; }
ul.messages {
    font-family: arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}
ul.messages li {
    margin: 0.22em 0 0.22em;
    padding: 0.25em;
    background: transparent no-repeat 0.5em 0.3em;
    position: relative;
}
ul.messages li .icon, ul.messages li.icon{ 
    background: url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/3797312) no-repeat; 
    display: block; 
    margin-right: 4px;
    padding-left: 16px;
}
ul.messages li span.icon {
    background: #fff;
    padding-left: .5em;
    padding-top: .35em;
    margin-top: -.5em;
}
ul.messages li.success .icon, ul.messages li.success.icon {
    background-position: 0 0;
}
ul.messages li.warn .icon, ul.messages li.hi_warn .icon, ul.messages li.warn.icon, ul.messages li.hi_warn.icon {
    background-position: -17px 0;
}
ul.messages li.suggest .icon, ul.messages li.suggest.icon {
    background-position: -34px 0;
}
ul.messages li.info .icon, ul.messages li.info.icon {
    background-position: -51px 0;
}
ul.messages li.error .icon, ul.messages li.error.icon {
    background-position: -68px 0;
}
ul.messages li.hi_warn em.detail{
    font-weight: normal;
    font-style: normal;
    padding-left: 1.7em;
}
ul.messages li.hi_warn {
    font-weight: bold;
}
.success, .error, .warn, .info, .suggest, .hi_warn {
    background-image: url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/3797312);
    padding-left: 17px;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom:.5em
}
.success {
    background-position: 0 0;
}
.warn {
    background-position: -17px 0;
}
.hi_warn {
    background-position: -17px 0;
    font-weight: bold;
}
.suggest {
    background-position: -34px 0;
}
.info {
    background-position: -51px 0;
}
.error {
    background-position: -68px 0;
}
.navwrap-bottom {
  margin-top: 2em;
  margin-bottom: 10px;
  
}
.navwrap-top {
  
  margin-bottom: .5em;
}
.navigation-toc {
  max-width: 600px;
  max-height: 500px;
  overflow: auto;
}
.source-contents-label {
  font-size: 1em;
  background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/27532) no-repeat 100% 100%; 
  padding-right: 17px; 
}
.source-contents-label:active {
  background:transparent url(//static.pubmed.gov/portal/portal3rc.fcgi/4158155/img/27532) no-repeat 100% 58%; 
  padding-right: 17px; 
}
div.navigation-wrap
{
    overflow: hidden;
}
div.content div.navigation-wrap a.navtrig {
  color:  #336699;
  text-decoration: none;
  border-bottom: none;
  margin: 2px 1.7em 2px 2px;
}
.print-link {
  float: right;
  margin-right: 1.7em;
}
.navigation-toc {
  background-color: white;
  -moz-box-shadow: 0.4em 0.4em 0.5em #999999;
  padding: 0 2em 0 0;
}
.navigation-toc ul.toc-toggle {
  padding-left: 3em;
}
.navigation-toc ul.toc-no-toggle {
  padding-left: 2em;
}
.navigation-toc ul.toc ul.toc {
  padding-left: 3em;
  margin-top: 3px;
}
.navigation-toc li {
  padding: 2px 0;
}
.navigation-toc a.toc-link {
  color: #336699;
  text-decoration: none;
  padding: 1px;
  border: 1px solid white;
}
.navigation-toc a.toc-link:hover {
  background-color: #369; 
  color: #fff; 
   
}
.navigation-toc a.current-toc-entry {
  color: #336699;
  font-weight: bold;
  padding: 2px;
  
  
  border: 1px solid white;
}
.toc-page-link {
  float: right;
  margin-top: 9px;
  font-size: 110%;
  
  
}
.twelve_col .pagination
{
    margin-top: 3px;
    margin-bottom: 2px;
}
.pagination{font-size:0.846em;white-space:nowrap;float:right}
.pagination h3{font-weight:normal;font-size:inherit;display:inline;color:#000}
.pagination .page_link{padding:1px 6px;zoom:1}
.pagination h3{display:inline}
.pagination .inactive{color:#ccc}
.pagination .active{border:1px solid #ddd;color:#369;padding:2px 6px;*padding:0px 4px;white-space:nowrap;text-decoration:none}
.pagination a:hover{background-color:#369;color:#fff;border:1px solid #888}
.pagination .prev{margin-right:.6em;margin-left:.2em}
.pagination .next{margin-left:.6em;margin-right:.2em}
.pagination .num{width:1.637em;display:inline;font-size:inherit}
.bottom .pagination{float:none;text-align:right}
body.objectonly,
body.literature-content-only
{
    background-color: white;
}
body .no_max_width {
    max-width: none;
}
body.literature-content-only>.grid>.shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-left: 1.5em;
}
#source-thumb {
    text-align: center;
    margin-bottom: 1em;
}
#source-thumb a { 
    border:0 
}
#source-thumb img { 
    -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); 
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
#footer {
    margin-bottom:3em;
}
.navigation-toc-link
{
    float: left;
}
.box {
    background-color: #fbfbfb;
    padding: 1em;
}
.contrib .affiliation {
    line-height: 1.2727em
} 
.NLMLogo, .NLMLogo a {
  color: #6F6F6F;
}
.NLMLogo {
  line-height:1.4em;
}
.res_logo .NLMLogo a:hover {
  text-decoration: underline;
}
pre {
  overflow-x: auto;
}
div.box.warn {padding-bottom: 0;}
div.collapse {max-height:120px; overflow:hidden;}
div.box.warn.collapsible {margin-bottom:0; padding-bottom:10px;}
div.box.warn h3 {margin-bottom:0; float:none;}
#collapse-button {float:right; padding:5px; background-color:#FBFBFB; border:1px solid #000; border-top:none;}
div.clear {clear:both; border:none;}
html body { background: #fff; }
body .grid.no_max_width { overflow: inherit; }
body .grid.no_max_width > .twelve_col { width: auto; }
body .grid.no_max_width > .col { 
    float: inherit;  
    overflow: inherit; 
}
body .grid.no_max_width > .shadow { box-shadow: none; }
div.success_msg, div.warn_msg, div.error_msg { padding: .4em; margin: .5em; color: black; font-family: helvetica, arial, verdana, sans-serif; }
div.success_msg img, div.warn_msg img, div.error_msg img { position: relative; top: .15em; margin-left: .2em; }
div.success_msg { border: 1px solid #6c6; background-color: #cfc; }
div.warn_msg { border: 1px solid #e3d21c; background-color: #ffffef; }
div.error_msg { border: 1px solid #f88; background-color: #fdd; }
.success, .error, .warn, .info, .suggest, .hi_warn {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
