
@page {
  size: A4;
  margin: 0;
  padding-right: 20px;
}

@media print {
   
   html, body {    
    height: 297mm;    
  }
   
   body p {
   		font-size: 110% !important;
   		line-height: 95% !important;
   }
   
   .textColumn .title {
   		font-size: 100% !important;   
   		line-height: 95% !important;		
   }	    
   
   .textColumn .abstract .listAbstract {
   		font-size: 100% !important;  	
   		line-height: 95% !important;	
   }
   
   div#sod-widget p {
   		font-size: 100%;
   		line-height: 105%;
   		height: auto;
   }
   
   div.grid_statsDay {
   		margin-bottom: 6%;
   }
   
   div#weekAheadRow {
   		margin-top: 6%;
   }
   
   div#sectionTitleRow {
   		margin-top: 4%;
   }
   
   div#searchFormContainer {
   		display: none;
   }
   
   div#featureRotatorRow {
   		margin-top: -140px;
   }
	
	/*The following CSS rules are for the home-page*/
	div#appRotatorRow, div#appRotator { 
    	display: none !important; 
    }   
    
    #innerNavContainer {
    	display: none;
    }    
    
    div#desktopHeader {
    	display: block !important;
    }
    
    div#desktopFooter {
    	display: none;
    }
       
    .wrapper { 
    	margin-left: auto; 
    }
    
    div.featurerotator {
    	display: block !important;
    	margin-top: 0px;
    } 
    
    div.featurerotator h2 {
    	display: none !important;
    }
     
    .featureContentBox {
    	width: auto;    	  
    	display: block !important;
    	border: 1px solid #bbb;
    	margin-left: 24px; 
    	margin-right: 24px;
    	position: relative;   	
    }
        
    .featureContentBox a {
    	display: block !important;
    }
    
    .featureContentBox .grid_content_imagery_nav_headerText {
    	display: block !important;    	
    }
        
    div#latestNewsArea {
    	width: 70%;  
    	float:left;  	    	
    } 
    
    div#homeRightWidgetArea {    	
    	width: 30%;    	 	
    	float: right;
    } 
    
    div.wrapper {    	
    	width: 95%;
    	margin-left: 3%;
    }   
    
    #calendar .day {
    	text-align: left;
    } 
        
    #imageryNavContentText {
    	width: 950px;    	
    }   
        
    .panel-heading{
    	display: block; 
    	border-top-left-radius: 0px;
		border-top-right-radius: 0px;   	
    }
    
    .panel-heading .chevron {
    	display: none;
    }   
    
    #logo {
    	display: block !important;    	
    }
    
    #logoText a {
    	display: none;
    }
     
    .mobileMenuIcon {
    	display: none;
    }
    
    #mobileTitleRow {
    	display: block;
    }
    
    #headerBottomRow {
    	display: none;
    }
    
    .header_top_links, .searchbox {
    	display: none;
    } 
    
    #featuredLabel {
    	display: none;
    }
    
    div#innerCarouselDiv {
    	display: block !important;
    }   
    
    div#featureRotator {
    	display: block !important;
    	padding-left: 0px !important;
    } 
    
    div#homeContentRow {
    	margin-top: 0px !important;
    }  
    
   	div.item img {
   		visibility: hidden;
   	}
    
    div.featureContentBox {
    	display: block !important;
    	height: 122px !important;
    }
    
    div#featureContentBoxText {
    	display: block !important;
    }
    
    div.grid_content_imagery_nav_headerText {
    	display: block !important;
    }
    
    .viewAllButtonSmall {
    	display: none;
    }
    
    /*The following CSS rules are for the landing-page*/
    .mobileMenuIcon {
		display: none !important;
	}
	
	div#breadContainer {
		display: none !important;
	}
	
	#bulletedLinkList {
		display: block !important;		
	}
	
	#landingIntro {
		display: block !important;		
	}
	
	div#logo {
		display: block !important;
		margin-top: 80px;
	}
	
	div#listAbstract {		
		padding-right: 30px;
	}
	
	div.textimageText p{
		font-size: 100% !important;
		line-height: 115% !important;
	}
	
	div.panel-heading {
		display: none !important;
	}
	
	.grid_navSponsorLogoHolder {
		display: none !important;
	}	
	
	#landingHeroMultimedia {
		display: none !important;
	}
		
	#contextualNav {
		display: none !important;
	}
	
	div#leftColumn {		
		width: 15%;
		float: left;		
	}
	
	div#rightContent {
		width: 85%;
		float: right;
		padding-left: 65px;
		padding-right: 30px;
	}
	
	ul#tabsMenu {
		display: block !important;
	}
	
	#tabsMenu li {
		width: 103px;
	}
	
	#tabsMenu ul {
		width: 108px;
	}
	
	div#landingApp {
		display: none !important;		
	}
	
	div#landingLatest {
		width: auto;
		float: left;
	}
	
	div#landingSubdata {
		width: 100%;
	}
	
	div#landingAboutText {
		width: 100%;
	}
	
	div#population-counter-container {
		display: block;
	}
	
	div.sectiontitle {
		font-size: 15px;
		margin-top: 27px;
	}
	
	div.grid_navInnerLandingHolder {
		display: block !important;
	}
	
	div.gridInnerLandingLinks {
		display: block !important;
	}
	
	/*The following CSS rules are for list-page*/	
    div.listPageLocalNav {
    	display: block !important;
    }
    
    div.listPageListContent {
    	width: 80%;
    	margin-left: 20px !important;
    }
    
    div#listItems {
    	padding-right: 30px;
    }
        
    #listContent {
    	margin-left: 0px;    	
    }
        
    .wrapper .grid_content_adImageContainer { 
    	display: none; 
    }
        
    .wrapper .grid_slatelink a { 
    	font-size: 150%; 
    }     
        
    .pageTitle {
    	font-size: 80%;
    }
    
    ul#listMenu.listTabs A { 
    	font-size: 150%;  
    } 
        
    #listContent SPAN {
    	font-size: 150%;
    }
        
    #listContent P {
    	font-size: 150%;
    }
    
    /*The following CSS rules are for news-page*/
	.sectiontitle, .supertitle, .publishdate, .documentnumber, .author { 
    	font-size: 96%; 
    }   
    
    div.detailPageMiddleColumn {
    	width: 100%;
    }    
    
    div.socialLinks {
    	display: none !important;
    }
    
    div#relatedInfoContainer {
    	margin-top: 0px !important;
    }
    
    div#mobileLeftNavButton {
    	display: none;
    }
    
    .pagetitle {
    	font-size: 120%;
    }
    
    div.detailPageLocalNav {
    	display: none !important;
    }
    
    div#footerContainer {
    	display: none !important;
    } 
    
    .wrapper .grid_navInnerLandingHolder { 
    	display: none;
    }
    
    .wrapper .grid_content_detailAttachment { 
    	display:none; 
    }
        
    #landingHeroMultimedia {
    	display: block;
    	margin: 0;
    	width: 800px;
    }

    .wrapper .grid_content_detailsStandard P { 
    	font-size: 150%; 
    }
    
    .wrapper .grid_content_detailsStandard A { 
    	font-size: 100%; 
    }
    
    .wrapper .grid_content_detailsStandard UL LI { 
    	font-size: 150%; 
    }
    
    .wrapper .grid_content_detailsStandard h2, .wrapper .grid_content_detailsStandard h3, 
    .wrapper .grid_content_detailsStandard h4, .wrapper .grid_content_detailsStandard h5 { 
    	font-size: 150%; 
    }
    
    .wrapper .contactsidebar > div { 
    	clear; both; bottom: 10px; width: 800px; 
    }
    
    .contactsidebar H4, .contactsidebar div>P, .contactsidebar div>A, .contactsidebar div>span { 
    	font-size: 150%; 
    }
     
    .wrapper .grid_content_listPageAbstractTextCol { 
    	width: 800px; 
    } 
    
    .wrapper .subscriptions{ 
    	display: none; 
    }
    
    /*The following CSS rules are for visual-detail-page*/   
    div#pdfAndExternalLinkDiv {
   		display: none !important;
    }
   
    div#detailContent {
   		padding-right: 21px;
    }
    
    div.publishdate {
    	font-size: 100%;
    }
    
    div.visualDetailLocalNav {
    	display: none;
    }
    
    div.cq-analyzable.parbase.section.textimage {
    	display: block !important;
    }
    
    div.textimageAttachment {
    	display: none;
    }
    
    div#lastModifiedDiv {
    	display: block !important;
    }

    .wrapper .grid_navSponsorLogoHolder { 
    	display: none; 
    }
       
    .wrapper { 
    	margin-left: 30px; 
    }   
        
    #sectionTitleRow {
    	font-size: 150%;
    }
        
    .pageTitle {    	
    	white-space: -moz-pre-wrap;    	
    }
        
    .publishdate {
    	font-size: 150%;
    }
    
    .wrapper .grid_content_landingImgHolder { 
    	display: none; 
    }
    
    .wrapper .grid_viewAllLanding { 
    	display: none; 
    } 
    
    .wrapper .grid_content_detailAttachment A { 
    	font-size: 150%; 
    }
        
    .par .parsys {
    	font-size: 100%;
    }
    
    .grid_navSponsorLogoHolder {
    	display: none;
    }
    
    #visualEmbed {
    	display: none;
    }
    
    div.parbase.section.list {
    	display: none;
    }
    
    div.cq-analyzable.parbase.section.textimage {
    	display: none;
    }
    
    div.sources.parbase.mapsource.text {
    	display: none;	
    }
    
    /*The following CSS rules are for visual-list page*/
	div.visualListLocalNav {
		display: none;
	}
        
    .grid_content_listPageArticleAbstractListIntro {
    	margin-left: 0px;
    	width: 800px;
    	padding-right: 4%;
    } 
    
    .visualGalleryThumb a {
    	margin: 40px 20px 40px 20px;
    }  
    
    div.parbase.pagelist.imagelist.list {
    	width: 100% !important;
    	overflow: visible !important;    		
    }
    
    div.grid_content_listPageArticleAbstractListIntro {
    	padding-bottom: 0px !important;
    }
    
    .grid_content_visualGalleryContainer  .mapsource { 
    	font-size: 100%; 
    }
    
    .visualGalleryThumb span {
	    display: block !important;
	    color: #041C5D;
	    height: 50px;
	    width: 248px;
	    font-weight: bold;
	    position: relative;
	    top: -50px;
	    line-height: 1.2em;
	    background-color: inherit;
	    border-top: 1px solid #CCC;
	}
	
	/*The following is for the search results page*/
	div#infoPanelContainer {
		display: block !important;		
	}
	
	div#searchResultsOrganic {
		display: block !important;		
	}
	
	div.accordion-toggle h3 {
		display: block !important;
	}
	
	div.naicsTitle {
		display: block !important;
	}
	
	#searchpagination ul {
		display: none;
	}
	
	div#searchResultsQuickAnswer {
		display: block !important;
	} 
	
	div.vizListContainer {
		display: block !important;
	}
	
	#searchTooltipLink {
		display: none !important;
	} 
	
	/* start SOCIAL HUB changes */
	div.imagelist {
	    width: 820px;
	}
	
	
	.imagelist .grid_content_visualGalleryThumb img {
	    margin: 0px;
	}
	
	.imagelist .grid_content_visualGalleryThumb a:hover {
	    text-decoration: none;
	}	
	
	ul#tabsMenu li a { 
		width: 100%;		
	}
	
	div#socialHubTabs .tabs li {
		width: 33.3% !important;
		display: inline;
	}
	
	div.socialHubLeftColumn {
		display: none;
	}
	
	div.tab.tabs {
		display: block;
	}
	
	div#tabGroup {
		display: block !important;
	}

/* end SOCIAL HUB changes */
	
	
}